<%= form_for(user || update_status_form, class: 'form-inline') do |f| %>
  <label>My status <%= f.select :status, User.STATUS_OPTIONS %></label>
<% end %>

<script>
  $(function () {
    $("#user_status").on("change", function () {
      $(this).parents('form').first().submit()
    })
  })
</script>
